<section class="about_section ">
  <div class="container-fluid">
    <div class="row">
      <div class="img-box col-lg-8 col-md-7">
        <img src="images/about-img.jpg" alt="" />
      </div>
      <div class="detail-box detail_box_common col-lg-4 col-md-5 text_center">
        <div class="heading_container heading_center">
          <h2>
            About Us
          </h2>
        </div>
        <p>
          It is a long established fact that a reader will be distracted by the readable content of a page when
          looking at its layout. The point of using LoremIt is a long established fact that a reader will be
          distracted by the readable content of a page when looking at its layout. The point of using Lorem
        </p>
        <a href="">
          Read More
        </a>
      </div>
    </div>
  </div>
</section>