<section class="contact_section ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 map_container">
        <div class="map">
          <div id="googleMap"></div>
        </div>
      </div>
      <div class="col-md-4 detail-box detail_box_common">
        <div>
          <div class="heading_container">
            <h2>
              Get In Touch
            </h2>
          </div>
          <div class="info_contact">
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-location-dot" aria-hidden="true"></i>
                <span>
                  Location
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +01 1234567890
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  demo@gmail.com
                </span>
              </a>
            </div>
            <div class="info_social">
              <a href="">
                <i class="fa-brands fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa-brands fa-bluesky" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa-brands fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>